In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# pip install matplotlib

In [6]:
csv_file_path = r"E:\ML_project_2\adult_census_income_prediction\census_income\artifact\data_ingestion\2022-06-30-11-34-53\raw_data\adult_census_income_dataset.csv"

In [7]:
import os
df = pd.read_csv(csv_file_path)
df.head()

e:\ML_project_2\adult_census_income_prediction\venv\lib\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,0,39,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,1,50,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,2,38,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,3,53,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,4,28,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [8]:
df.dtypes.index

Index(['Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education-num', 'marital-status', 'occupation', 'relationship', 'race',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week',
       'native-country', 'salary'],
      dtype='object')

In [9]:
# remove column from dataframe
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [10]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [11]:
df.dtypes.index

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [12]:
data_type = list(map(lambda x: x.name, df.dtypes))

In [13]:
column = df.columns

In [16]:
schema_dict = dict(zip(column, data_type))
schema_dict

{'age': 'object',
 'workclass': 'object',
 'fnlwgt': 'float64',
 'education': 'object',
 'education-num': 'float64',
 'marital-status': 'object',
 'occupation': 'object',
 'relationship': 'object',
 'race': 'object',
 'sex': 'object',
 'capital-gain': 'float64',
 'capital-loss': 'float64',
 'hours-per-week': 'float64',
 'native-country': 'object',
 'salary': 'object'}

In [21]:
import yaml

with open(r"E:\ML_project_2\adult_census_income_prediction\config\schema.yaml", 'w') as file:
    documents = yaml.dump(schema_dict, file)

In [9]:
class Iter(object):
    
    def __init__(self,n):
        self.n = n
        
        
    def divby7(self):
        for i in range(self.n):
            if i % 7 == 0 and i>0 :
                yield i
                
n = int(input("Enter a number: "))
l = []
obj = Iter(n).divby7()
for j in obj:
    l.append(j)
print("Entered number = ",j,"\nList of numbers divisible by 7 : ",l)

Entered number =  98
List of numbers divisible by 7 :  [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

Entered number =  98
List of numbers divisible by 7 :  [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]