In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# pip install matplotlib

In [37]:
csv_file_path = r"E:\ML_project_2\adult.csv"

In [38]:
import os
df = pd.read_csv(csv_file_path)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [39]:
df.dtypes.index

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [40]:
# remove column from dataframe
df.drop(['Unnamed: 0'], axis=1, inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [41]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [42]:
df.dtypes.index

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [10]:
data_type = list(map(lambda x: x.name, df.dtypes))

In [11]:
column = df.columns

In [43]:
schema_dict = dict(zip(column, data_type))
schema_dict

{'age': 'object',
 'workclass': 'object',
 'fnlwgt': 'float64',
 'education': 'object',
 'education-num': 'float64',
 'marital-status': 'object',
 'occupation': 'object',
 'relationship': 'object',
 'race': 'object',
 'sex': 'object',
 'capital-gain': 'float64',
 'capital-loss': 'float64',
 'hours-per-week': 'float64',
 'native-country': 'object',
 'salary': 'object'}

In [13]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,34,Private,136997.0,HS-grad,9.0,Divorced,Adm-clerical,Unmarried,White,Female,0.0,0.0,35.0,United-States,<=50K
1,24,Private,403107.0,Preschool,1.0,Never-married,Adm-clerical,Not-in-family,White,Male,0.0,0.0,40.0,Mexico,<=50K.
2,80,Private,22406.0,Bachelors,13.0,Never-married,Priv-house-serv,Not-in-family,White,Female,0.0,0.0,40.0,United-States,<=50K.
3,45,Private,59380.0,Bachelors,13.0,Separated,Exec-managerial,Not-in-family,White,Female,0.0,0.0,55.0,United-States,<=50K
4,66,Private,22502.0,7th-8th,4.0,Divorced,Other-service,Other-relative,Asian-Pac-Islander,Female,0.0,0.0,40.0,Philippines,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39069,23,Private,182494.0,7th-8th,4.0,Never-married,Machine-op-inspct,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
39070,81,Private,55314.0,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,4.0,United-States,>50K.
39071,43,Self-emp-not-inc,193459.0,Some-college,10.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,60.0,United-States,<=50K
39072,49,Private,268234.0,7th-8th,4.0,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
39073,26,Private,179864.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K.

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  country         32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [46]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
country           0
salary            0
dtype: int64

In [48]:
df[df == ' ?'].count()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
country            583
salary               0
dtype: int64

In [49]:
df[df == ' ?']=np.nan

In [50]:
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
country            583
salary               0
dtype: int64

In [51]:
for col in ['workclass', 'occupation','country']:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [52]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
country           0
salary            0
dtype: int64

In [53]:
df.to_csv(r"E:\ML_project_2\adult_census_income_prediction\adult_census_income_dataset.csv", index=False)

E:\ML_project_2\adult_census_income_prediction\requirements.txt

In [61]:
schema_file_path = r"E:\ML_project_2\adult_census_income_prediction\config\schema.yaml"

In [63]:
import yaml
from census_income.util.util import read_yaml_file
from census_income.exception import Acip_Exception
import os,sys
import numpy as np
import dill
import pandas as pd
from census_income.constant import *

In [62]:
dataset_schema = read_yaml_file(schema_file_path)

In [64]:
schema = dataset_schema[DATASET_SCHEMA_COLUMNS_KEY]

In [66]:
dataframe = pd.read_csv(csv_file_path)

In [67]:
for column in dataframe.columns:
    if column in list(schema.keys()):
        dataframe[column] = dataframe[column].astype(schema[column])

In [69]:
dataframe[column]

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: salary, Length: 32561, dtype: object